
*,
*::before,
*::after {
box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #596D48;
  --form-bg-color: #f9fafb; */
  --border-color: #E5E7EB;
  /* --text-color: #333; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.left-side {
  position: relative;
  background: url('cloud-prod-BBQCCaq04X0-unsplash.jpg') no-repeat center center/cover; 
  opacity: 0.85;
  height:100vh;
  width: 40vw;
}

.logo-section {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5%;
  padding: 0 5px;
  top: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#odin-logo {
  height: auto;
  width: clamp(20px, 10vw, 65px);
  
}

h1 {
  color:#f1f1f1;
  font-family: "Germania One", sans-serif;
  font-size: clamp(1.8rem, 12vw, 5.4rem);
  width: 100%;
}

.credit {
  width: 100%;

  position:absolute;
  bottom: 0;
  color:#f1f1f1;
  text-align: center;
  padding:10px
}

.credit a {
  color:#f1f1f1; 
  cursor: pointer;
}

.right-side {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #f1f1f1;
}


.text-container {
  display: flex; 
  flex-direction: column;
  gap: 20px;
  padding: 3rem 2rem;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  background-color: #fff;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

.form-actions {
 padding: 2rem; 
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.8rem; 2.5rem;
  border-radius: 5px;
  font-weight: bold; 
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem; 
}

.login-text {
  
}
